<a href="https://colab.research.google.com/github/olimorais/Python-B-sico/blob/main/Basico_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 - Tipos de dados, input/output e operadores matemáticos

Nesta aula, abordaremos os seguintes tópicos em python:

1.   Tipos de variáveis;
2.   Comentários;
3.   Saída de dados (output);
4.   Entrada de dados (input);
5.   Operadores matemáticos.
---

Problema gerador: como construir uma calculadora em python?

# 1) Tipos de Variáveis

Em python tem-se 4 tipos básicos de dados:

  ▪ Tipo **inteiros (int)** , são números inteiros sem casa  
decimal. Os número negativos também são do tipo int.

Exemplo: idade de uma pessoas, número de pessoas, etc.

In [ ]:
numero_de_filhos = 3

 Uma dica, se você quiser saber o tipo de dado que contém em uma variável, basta usar o comando, "type(numero_de_filhos)".

In [ ]:
type(numero_de_filhos)

int

  ▪ Tipo **float**, são números com casas decimais. E os números decimais são separados por ponto (.) não vírgula. E o tipo float também aceita números negativos.

Exemplos: 3.14 , -5.78, 10.0, etc.

In [ ]:
altura = 1.60
x1 = 3.14
type(altura)

float

  ▪ Tipo **string (str)** , são dados do tipo texto e esses dados devem ser indicados entre aspas simples ('texto') ou entre aspas duplas ("texto").

Exemplo: nomes, endereços, olá mundo, etc.

In [ ]:
aux = 'Olá, mundo!'
nome = "Ana"
type(nome)

str

  ▪ Tipo **booleano (bool)**, são dados do tipo **Verdadeiro (True) ou Falso (False)**. São valores lógicos binários, 1 e 0. Esses tipos de dados são importantes em estruturas condicionais e em operações lógicas.

In [ ]:
type(True)

bool

# 2) Comentários

Os comentários são usados para explicar trechos de códigos, também pode ser usado para omitir alguma parte do algoritmo. O compilador do python não executa os trechos comentados. Então para fazer um comentário bastar usar # antes do algoritmo.

In [ ]:
# Comentario
# var = 2
# a variavel a recebe um valor
a = 1
print(a)

1

Note, que tudo que tem # foi ignorado pelo compilador.

Também é possível fazer o comentário de várias linhas usando três aspas.

In [ ]:
'''
este é um comentario muito grande e por isso,
pode ser interessante usar a quebra de linha e
fazer um comentário em bloco...

'''

'\neste é um comentario muito grande e por isso,\npode ser interessante usar a quebra de linha e\nfazer um comentário em bloco...\n\n'

**Dica: o \n é usado para quebras de linhas em python.**

Mas preferencialmente deve-se usar a # para fazer comentários!

# 3) Saída de dados (output)

Esse é um ponto importante, pois através da entradas e saídas de dados conseguimos ter a interação com o usuário.

A saída de dados ou *output* é como o computador apresenta os dados para o usuário. A função que utilizamos é **print(variavel).** Vamos com alguns exemplos abaixo.

In [ ]:
# declaracao de algumas variaveis importantes
nome = 'Ana'
profissao = 'Engenheira eletricista'
idade = '31'
# saída
print(nome,profissao,idade)
# podemos escrever tudo junto ou separado
print(nome)
# ou em forma de texto mais compreensível
print('O nome do usuario é', nome)
# ou
print('O usuário é', nome, ',tem a idade de:', idade, 'anos')
# ou
print(nome, 'é' ,profissao, 'e tem', idade, 'anos.')

Ana Engenheira eletricista 31
Ana
O nome do usuario é Ana
O usuário é Ana ,tem a idade de: 31 anos
Ana é Engenheira eletricista e tem 31 anos.

# 4) Entrada de dados (input)

Como já dito, é forma de interação com o usuário. É uma forma de como o algoritmo coleta informações.

Utilizamos a função *input('..texto..')* para receber os dados, que são fornecidos pelo usuário. Opcionalmente, podemos usar uma frase, dentro do input, para instruir o usuário. A seguir segue alguns exemplos.

In [ ]:
nome1 = input('Digite seu nome1:' )
nome2 = input('Digite seu nome2:')
type(nome1)
type(nome2)

Digite seu nome1:ana
Digite seu nome2:4

str

**Note, que a função input() entende que tudo que o usuário digita como uma string!**

Se o usuário digitar nome, número, ou seja, tipos diferentes de dados. Tudo é entendido como uma string. Então devemos sempre transformar o que é digitado no tipo de dados que desejamos.

Para isso, devemos fazer um tipo de sanduíche, colocando a função input() dentro de um float(). Segue o exemplo de como fazer isso.

In [ ]:
# entrada da idade
idade2= int((input('Digite sua idade:')))
print(idade2)
# entrada de salario
salario = float(input('Digite o seu salário:'))
print(salario)
# note que os tipos estao corretos agora
type(salario)

Digite sua idade:35
35
Digite o seu salário:5.6
5.6

float

# 5) Operadores Matemáticos

Em python é possível fazer diversas operações matemáticas, as mais básicas são:


*   soma: (+)
*   subtração: (-)
*   multiplicação: (*)
*   divisão: (/)
*   potenciação: (**)

In [ ]:
soma = 2+2
subtracao = 10-5
multiplicacao = 3*2
divisao = 10/2
potencia = 10**2
print(soma,'\n', subtracao,'\n',multiplicacao,'\n',divisao,'\n', potencia )

4
 5
 6
 5.0
 100

Além disso, temos operações especiais:

*   divisão inteira: (//) -> retorna a parte inteira da divisão de dois números.
*   resto da divisão: (%) -> retorna o resto de uma divisão.

In [ ]:
# retorna o valor inteiro da divisao de 9/2
valor = 9//2
print(valor)
# retorna o resto da divisao:
valor1 = 20%3
print(valor1)

4
2

O principal uso do **operador % ** é para verificar se um **número é PAR ou ÍMPAR.**

Se o resto da divisão de um número por 2 é **zero**: número é **par!**

Se o resto da divisão de um número por 2 é **um**: número é **ímpar!**

**Outro ponto importante é que não é possível fazer operações matemáticas que dados diferentes de int e float!** **Ao tentar somar um número com uma string dará erro!**

# Calculadora em Python

Com todas essas infotmações apresentadas e desenvolvidas somos capazes de resolver nosso problema inicial. Então vamos implementar nossa calculadora em python!

In [ ]:
# Calculadora simples em python:
# Autor: Ana Luiza Morais - 21/12/2023

print('*****************Calculadora simples***********************')

while True:
    print("Escolha uma operação:")
    print("1. Somar")
    print("2. Subtrair")
    print("3. Multiplicar")
    print("4. Dividir")
    print("5. Sair")

    escolha = input("Digite o número da operação desejada: ")

    if escolha == '5':
        print("Saindo da calculadora.")
        break

    if escolha in ('1', '2', '3', '4'):
        num1 = float(input("Digite o primeiro número: "))
        num2 = float(input("Digite o segundo número: "))

        if escolha == '1':
            print(f"{num1} + {num2} = {num1 + num2}")
        elif escolha == '2':
            print(f"{num1} - {num2} = {num1 - num2}")
        elif escolha == '3':
            print(f"{num1} * {num2} = {num1 * num2}")
        elif escolha == '4':
            if num2 != 0:
                print(f"{num1} / {num2} = {num1 / num2}")
            else:
                print("Erro: divisão por zero")
        else:
            print("Escolha inválida. Tente novamente.")
    else:
        print("Escolha inválida. Tente novamente.")