<a href="https://colab.research.google.com/github/olimorais/Python-B-sico/blob/main/B%C3%A1sico_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Outras Estruturas do python

Nesta seção trataremos de outros estruturas em python, que são tão importantes quanto as listas. Elas são estruturas nativas. Essas estruturas são:



*   Tuplas
*   Dicionários
*   Conjuntos



---

Problema gerador: Criar um programa que faz cadastros!

# 1) Tuplas

As tuplas são estruturas bem parecidas com as listas!

As tuplas:

* Podem guardar tipos diferentes de dados (int, float, str, etc).
* São indexadas, isto é, o elemento pode ser acessado.
* São iteráveis, isto é, podem ser percorridas pelo for.


A principal diferença das tuplas com as listas, é que, as **tuplas são imutáveis!**

Isto é, nas tuplas **não é possível**: alterar elementos individuais, adicionar elementos, remover elementos ou alterar a ordem dos elementos. **Uma vez criada, não é possível alterar a tupla!**

Mas, então, para que servem as tuplas?

* É um jeito de sinalizar que esses **dados não devem ser alterados**!
* É um meio de garantir que os **elementos estão em uma ordem específica!**
* O **acesso** ao elemento de uma tupla é bem **mais rápido!**


Tuplas são inicializadas como uma sequência de valores ou dados entre parênteses () .

In [ ]:
# inicialização da tupla

tupla_1 = (1,2, 3.4, 'Ana')
print(tupla_1)

# outro modo de inicializar a tupla
tupla_2 = 1, 2, 3.4, 'Ana', 10
print(tupla_2)

(1, 2, 3.4, 'Ana')
(1, 2, 3.4, 'Ana', 10)

Operações com Tupla:

In [ ]:
# tuplas são indexáveis:

tupla_1[-1]

'Ana'

In [ ]:
# tuplas são iteráveis:

for i in tupla_1:
  print(i)

1
2
3.4
Ana

Mas as tuplas são imutáveis! Não existe: uma tupla.append(), tupla.remove(), etc! Não podemos alterar nada na tupla depois de criada.

Mas existe uma forma, que é um pouco forçada. Primeiro transforma-se a tupla em lista, altera-se ou faz a operação desejada e por fim faz a transformação reversa (transforma lsita em tupla). Para isso fazemos:

      tupla = (1,2,3,4,5)
      lista = list(tupla)
      lista[0] = 'Ana'
      tupla_modificada = tuple(lista)

In [ ]:
tupla = (1,2,3,4,5)
lista = list(tupla)
lista[0] = 'Ana'
tupla_modificada = tuple(lista)
print(tupla, lista, tupla_modificada)

(1, 2, 3, 4, 5) ['Ana', 2, 3, 4, 5] ('Ana', 2, 3, 4, 5)

Note, que é um procedimento bem artificial. Porque a tupla original se matém inalterada.

# 2) Dicionários

O **dicionário** também é uma **coleção de valores!**

A diferença é que um dicionário é **definido a partir de dois elementos: uma chave e um valor.**

* **Chave** -> é usada como um índice, identificando os respectivos valores. A diferença é que não precisa indexar pela ordem dos elementos. As chaver podem ser de qualquer tipo, que é **imutável**, como int, float, booleano, str, etc.

* **Valor** -> pode ser qualquer tipo de dado, um int, float, uma lista, uma tupla, etc. Temos total flexibilidade!

Dicionários são inicializados com chaves {}, seguindo a estrutura abaixo:

      dicionario = {"chave": valor}

In [ ]:
# inicialização de um dicionário:

dicionario = {"a": 3, "b":4, "c": 10}
print(dicionario)

{'a': 3, 'b': 4, 'c': 10}

Para acessar o elemento no dicionário:

In [ ]:
dicionario["b"]

4

Para entender melhor, vamos olhar para nosso problema gerador!

Imagine que você queira criar um cadastro, com três pessoas, que contenhas as seguintes informações: nome, idade e cidade.

Podemos fazer uma lista de lista!

In [ ]:
cadastro = [['Ana', 23, 'São Paulo'],['Pedro', 55, 'Belo Horizonte'],['Joana', 34, 'Salvador']]
print(cadastro)

[['Ana', 23, 'São Paulo'], ['Pedro', 55, 'Belo Horizonte'], ['Joana', 34, 'Salvador']]

Isso não é muito útil para um sistema com muitos dados!

A melhor forma é usar a estrutura de dicionário para este tipo de problema.

In [ ]:
dicionario_cadastro = {"nomes":['Ana', 'Pedro', 'Joana'], "idades":[23,55,34],"cidades":['SP', "RJ", "Salvador"]}
print(dicionario_cadastro)

{'nomes': ['Ana', 'Pedro', 'Joana'], 'idades': [23, 55, 34], 'cidades': ['SP', 'RJ', 'Salvador']}

Assim, para acessar os nomes fazemos:

In [ ]:
dicionario_cadastro['nomes']

['Ana', 'Pedro', 'Joana']

Para adicionar dados em um dicionário, não precisa de uma função específica como nas listas!

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [ ]:
dicionario_cadastro['alturas'] = [1.56, 1.8, 1.7]
print(dicionario_cadastro)

{'nomes': ['Ana', 'Pedro', 'Joana'], 'idades': [23, 55, 34], 'cidades': ['SP', 'RJ', 'Salvador'], 'alturas': [1.56, 1.8, 1.7]}

Note, como o elemento criado é adicionado ao fim do dicionário!

Para apagar uma chave, usamos o .**pop('chave_a_ser_removida')**.

In [ ]:
dicionario_cadastro.pop('alturas')
print(dicionario_cadastro)

# outra forma é usar o "del"
# del dicionario_cadastro['alturas']

{'nomes': ['Ana', 'Pedro', 'Joana'], 'idades': [23, 55, 34], 'cidades': ['SP', 'RJ', 'Salvador']}

Alterar valores também é possível:

In [ ]:
dicionario_cadastro['cidades'][1] = 'SAnta Catarina'
print(dicionario_cadastro['cidades'])

['SP', 'SAnta Catarina', 'Salvador']

Os dicionários são iteráveis com o for!

Ao fazer isso as chaver são percorridas. Porém a partir das chaves obtemos o valor!

In [ ]:
for elemento in dicionario_cadastro:
  print(elemento)

nomes
idades
cidades

In [ ]:
for chave in dicionario_cadastro:
  print(dicionario_cadastro[chave])

['Ana', 'Pedro', 'Joana']
[23, 55, 34]
['SP', 'SAnta Catarina', 'Salvador']

In [ ]:
for chave in dicionario_cadastro:
  print(dicionario_cadastro[chave][2])

Joana
34
Salvador

Também é possível acessar apenas os valores do dicionário com o método **values()**.

In [ ]:
dicionario_cadastro.values()

dict_values([['Ana', 'Pedro', 'Joana'], [23, 55, 34], ['SP', 'SAnta Catarina', 'Salvador']])

# 3) Conjuntos


As principais características dessa estrutura são: **não são ordenadas**, **com elementos únicos** , **mutável (em termos de adição e remoção de elementos)** e **não indexável**!

Os conjuntos são inicializados com chaves {} ⁉

    conjunto = {1,2,4,5, 3.14, True}

In [ ]:
conjunto = {1,2,3, 3.14, True}
print(conjunto)

{3, 1, 2, 3.14}

Note, que os conjuntos não ficam ordenados!

Um conjunto é interável:

In [ ]:
for elemento in conjunto:
  print(elemento)

3
1
2
3.14

Conjunto não é indexável:

    conjunto[2] -> acesso do elemento no indice 2, se  fizer isso ocorre um erro.
    Conjunto não é indexável

Podemos alterar um conjunto, ao adicionar e/ou remover um elemento.

In [ ]:
# para adicionar usa-se .add()

conjunto.add(15)
print(conjunto)

{1, 2, 3, 3.14, 15}

In [ ]:
# para remover usa-se remove()

conjunto.remove(3.14)
print(conjunto)

{1, 2, 3, 15}

No entanto, dado que um **conjunto não é indexável** não é possível alterar elementos!

**Por fim, conjuntos armazenam elementos únicos de uma coleção!**

Veja só:

In [ ]:
conjunto2 = {"a", True, 42, 3.14, "a", True, 42, 42, 42, "a"}

conjunto2

{3.14, 42, True, 'a'}

Isso pode ser útil, por exemplo, caso queiramos saber quais os elementos únicos de uma lista!

Considere uma lista de notas em uma prova, numa turma com 40 alunos:

In [ ]:
notas = [9, 0, 6, 6, 0, 8, 2, 0, 3, 9,
         2, 3, 5, 4, 3, 9, 8, 5, 6, 2,
         7, 3, 5, 5, 9, 6, 3, 7, 3, 9,
         7, 2, 9, 5, 5, 4, 6, 6, 5, 5]
print(notas)

[9, 0, 6, 6, 0, 8, 2, 0, 3, 9, 2, 3, 5, 4, 3, 9, 8, 5, 6, 2, 7, 3, 5, 5, 9, 6, 3, 7, 3, 9, 7, 2, 9, 5, 5, 4, 6, 6, 5, 5]

Para sabermos quais as notas únicas, basta converter a lista para um conjunto, com o construtor **set():**

In [ ]:
set(notas)

{0, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
list(set(notas))

[0, 2, 3, 4, 5, 6, 7, 8, 9]

Há, ainda, outras utilidades de conjuntos, que é o que de fato faz com que esta estrutura de dados receba este nome: ela se comporta como os conjuntos matemáticos, o que faz com que seja possível determinarmos a intersecção, união, diferença, etc., entre conjuntos de valores!

Considere duas listas, que compartilham alguns elementos:

In [ ]:
l1 = ["ada", "python", "dados", 2, 4]
l2 = ["web", "python", "devops", 42, 4]

Quais os elementos comuns às duas listas?

In [ ]:
pooxset(l1).intersection(set(l2))

Qual a união das listas (sem repetir elementos)?

In [ ]:
set(l1).union(set(l2))


Qual a diferença entre as listas (isto é, elementos que existem em uma lista e não na outra?)

In [ ]:
set(l1).difference(set(l2))

In [ ]:
set(l2).difference(set(l1))

In [ ]:
set(l2) - set(l1)

Essas operações são todas muito úteis quando estamos trabalhando com dados!

E é isso, agora você conhece as 4 **estruturas de dados** nativas do Python, utilizadas para armazenar coleções de valores: listas, tuplas, dicionários e conjuntos. Muito bem!

In [ ]:
num_1, num_2, num_3 =  (1,2,3)

1